<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://ipa.z68p.cn/spjx.ipa</string>
				</dict>
<dict>
      <key>kind</key>
      <string>display-image</string>
      <key>needs-shine</key>
      <true/>
      <key>url</key>
      <string>http://apt.sileo.ga/CydiaIcon.png</string>
     </dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.pwndrer4.spjx</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>v1</string>
				<key>title</key>
				<string>X.CAT视频解析，获取更多资源关注Alan中文源</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>














